*{
	box-sizing: border-box;
}
body{
	padding: 0;
	margin: 0;
	background-color:#FEFFFF;
}

/*Start of header*/
.header{
 color: black;
 display: grid;
 grid-template-columns: auto auto;
 text-align: center;
 padding-bottom: 10px;
 background-color: #0241AD;
 color: #ffff;

}
.header .logo span{
  font-size:16px;
  font-family:'Allison', cursive;
}

.header .button1{
  padding-right: 10px;
  text-decoration: none;
  color: #ffff;
}

.header .button1 .fas{
  padding-right:5px;
}
.header .button2{
  padding-right: 10px;
  text-decoration: none;
  color: #ffff;
}

.header .button2 .fas{
  padding-right: 5px;


}
.header-submit-ticket{
  display: inline-block;

}

/* Add a black background color to the top navigation */
.topnav{
  overflow: hidden;
  background-color: #ffff;
  text-align: center;



}

/* Style the links inside the navigation bar */
.topnav a{
  display: inline-flex;
 /* I used inline-flex to
 hide the whole content of the menu when it size to 600px*/
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover{
  background-color: #ddd;
  color:black;
}
/* Add an active class to highlight the current page */
.topnav a.active{
  background-color: #2787EA;
  color: #ffff;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon{
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

@media screen and (max-width: 600px){
  .topnav a:not(:first-child){display: none;}
  .topnav a.icon{
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px){
  .topnav.responsive{position: relative;}
  .topnav.responsive a.icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a{
    float: none;
    display: block;
    text-align: left;
  }
}

/* Slideshow container */
.slideshow-container{
  max-width: 100%;
  position: relative;
  margin: auto;
}

.slideshow-container .mySlides img{
  width: 100%;
}

/* Caption text */
.text{
  color: #f2f2f2;
  font-size: 30px;
  padding: 10px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.active{
  background-color: #717171;
}

/* Fading animation */
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade{
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px){
  .text {font-size: 11px}
}

/*start of container-fluid*/

.services{
	margin-top: 100px;
}
.services .services-p-2{
	text-align: center;
	font-size: 20px;
}
.services .service-h1{
	text-align: center;
	font-size: 46px;
}

.services .service-button-1{
	text-align: center;
}

.container-fluid{
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 40px 40px 40px 40px;
	margin-top: 50px;
	text-align: center;
  background-color: #eee;
}

@media only screen and (max-width: 600px){
  .container-fluid{
    width: 100%;
  }
}

/*Start of price page*/
.price-page{
	padding-bottom: 800px;
}
.h1-price{
	text-align: center;
	padding: 50px;
	margin-top: 100px;
}


.columns{
  float: left;
  width: 25%;
  padding: 8px;
}



.price{
  list-style-type: none;
  border: 1px solid #eee;
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 10000px;
}

.price:hover{
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.price .myPrice{
  background-color: #111;
  color: white;
  font-size: 25px;
}

.price li{

  padding: 20px;
  text-align: center;
}

.myPrice{
	border-radius: 10px;
}
.grey{
	border-radius: 10px;
}
.price .grey{
  background-color: #eee;
  font-size: 20px;
}

.button{
  background-color: #2787EA;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
 	border-radius: 5px;
}

@media only screen and (max-width: 600px){
  .columns {
    width: 100%;
  }
}

 /*Start of frequently ask question*/
 .container-fluid-faq{
 	padding: 100px;
 }
 .myFaq{
 	text-align: center;
 	font-size: 50px;
 }
 .myParagraph-Faq{
 	text-align: center;
 	font-size: 20px;
 }
 .accordion{
 	background-color: #eee;
 	color: #444;
 	cursor: pointer;
 	padding: 18px;
 	width: 100%;
 	border: none;
 	text-align: left;
 	outline: none;
 	font-size: 15px;
 	transition: 0.4s;
 }
 .active, .accordion:hover{
 	background-color: #ccc;
 }
 .accordion:after{
 	content: '\002B';  /*gives the plus sign*/
 	color: #777;
 	font-weight: bold;
 	float: right;
 	margin-left: 5px;
 }
 .active:after{
 	content: "\2212";
 }
 .panel{
 	padding: 0 18px;
 	background-color: white;
 	max-height: 0;
 	overflow: hidden;
 	transition: max-height 0.2s ease-out;
 }

 /*Start of footer*/
 .footer{
  background-color: #0241AD;
  display: grid;
  grid-template-columns: auto auto auto auto;
 }
 .footer-menu li{
  list-style: none;
  padding: 5px;
 }
 .footer-menu li a{
  text-decoration: none;
  color: #fff;
  font-size:18px;
 }
 .footer-menu li .mySiteMap{
  text-transform: uppercase;
  border-bottom: solid;
  border-bottom-color: white;
 }

.footer-payment-method li .myFooter-payment-method{
  color: #fff;
  text-decoration: none;
  border-bottom: solid;
  border-bottom-color: white;
  text-transform: uppercase;
}
.footer-payment-method li{
  padding: 5px;
  list-style: none;
  font-size: 18px;
  color: #fff;
}

 
.footer-packages li{
  list-style: none;
  padding: 5px;
}
.footer-packages li a{
  text-decoration: none;
  color: #ffff;
  font-size:18px;

}
.footer-packages li .price-footer{
  border-bottom: solid;
  text-transform: uppercase;
}
.footer-contact{
  padding: 50px 20px 0px 20px;
}
.footer-contact button{
  padding: 5px 5px;
  border-radius: 4px;

}
.footer-contact button a{
  text-decoration: none;
}

.footer-contact .email{
  color: white;
}
.footer-contact .email .fas{
  padding-right: 5px;
}
.footer-contact .logo span{
  font-size:16px;
  font-family:'Allison', cursive;
}
.footer-contact .logo{
  color: #fff;
}